.MeetPage {
  display: flex;
  gap: 32px;
}

.MeetPage__InfoWrapper {
  flex: 1 1 35%;

  min-width: 0;
}

.MeetPage__TableWrapper {
  display: flex;
  flex-direction: column;

  /* Вычитаем ебучий gap */
  flex: 1 1 calc(65% - 32px);
  gap: 24px;

  width: 100%;

  max-width: 100%;

  min-width: 0;
}

.MeetInfo__ButtonsEdit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 10px 10px 32px;

  background-color: var(--fill-bg);
  box-shadow: 0 4px 24px rgb(0 0 0 / 12%);

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.MeetPage__HeaderWrapper_Mobile {
  position: sticky;
  top: 10px;

  order: 1
}


@media (width < 768px) {
  .MeetPage {
    gap: 16px;
    flex-direction: column-reverse;

    padding-bottom: 70px
  }

  .MeetPage__TableWrapper {
    gap: 16px
  }
}