html {
  font-size: 4px;
  font-weight: 500;
  
  --text-display: clamp(24px, 1.786vw + 10.29px, 36px);
  --text-heading: clamp(20px, 0.595vw + 15.43px, 24px);
  --text-body: clamp(14px, 0.298vw + 11.71px, 16px);
}

@supports not (font-size: clamp(1rem, 1vw, 2rem)) {
  :root {
    --text-display: calc(24px + (36 - 24) * ((100vw - 768px) / (1440 - 768)));
    --text-heading: calc(20px + (24 - 20) * ((100vw - 768px) / (1440 - 768)));
    --text-body: calc(14px + (16 - 14) * ((100vw - 768px) / (1440 - 768)));
  }
  
  @media (width <= 768px) {
    :root {
      --text-display: 24px;
      --text-heading: 20px;
      --text-body: 14px;
    }
  }
  
  @media (width >= 1440px) {
    :root {
      --text-display: 36px;
      --text-heading: 24px;
      --text-body: 16px;
    }
  }
}

body {
  font-family: Manrope, sans-serif;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--termeet-color-gray-main-100);
}

* {
  -webkit-tap-highlight-color: transparent;
}

.baseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  width: 100%;
  padding: 16px;

  border-radius: 16px;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;

  font-size: var(--text-body);

  svg {
    width: 16px;
    height: 16px;  
  }
}

.mainButton {
  color: var(--light-text-inverted);
  background-color: var(--light-semantics-dark-blue-default);

  /* Задавайте актив стейт после ховера и будет все кайф */
  &:hover {
    background-color: var(--light-semantics-dark-blue-active);
  }

  &:active {
    background-color: var(--light-semantics-dark-blue-active);
  }

  &:disabled {
    background-color: var(--light-semantics-dark-blue-disabled);
    color: var(--light-text-inverted)
  }
}

.secondaryButton {
  color: var(--light-text-main);
  background-color: var(--light-semantics-light-blue-default);

  &:hover {
    background-color: var(--light-semantics-light-blue-hover);
  }

  &:active {
    background-color: var(--light-semantics-light-blue-active);
  }

  &:disabled {
    background-color: var(--light-semantics-light-blue-disabled);
    color: var(--light-text-inverted)
  }
}

.cancelButton {
  color: var(--light-semantics-red-main);
  background-color: var(--light-semantics-red-secondary);

  &:hover {
    background-color: var(--light-semantics-red-hover);
  }

  &:active {
    background-color: var(--light-semantics-red-active);
  }

  &:disabled {
    background-color: var(--light-semantics-red-disabled);

    opacity: 0.4;
  }
}

.approveButton {
  color: var(--light-semantics-green-main);
  background-color: var(--light-semantics-green-secondary);

  &:hover {
    background-color: var(--light-semantics-green-hover);
  }

  &:active {
    background-color: var(--light-semantics-green-active);
  }

  &:disabled {
    background-color: var(--light-semantics-green-disabled);

    opacity: 0.4;
  }
}