.PulseLoader {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;

  border-radius: var(--termeet-border-circle);
  background-color: var(--termeet-color-brand-main);

  animation: pulse 1.5s ease-in-out infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(0.8);

    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);

    opacity: 1;
  }
}