.MeetTable {
  display: flex;

  /* Вычитаем ебучий gap */
  flex: 1 1 calc(65% - 32px);
  align-items: center;

  width: 100%;
  height: fit-content;
  padding-right: 10px;

  background-color: var(--light-fill-controls);
  border-radius: 32px;

  font-size: 3rem;
  max-width: 100%;
  min-width: 0;
}

.MeetTable__TimesPeriodsContainer {
  display: flex;
  flex-direction: column;

  padding-top: 44px;
  width: 64px
}

.MeetTable__TimesPeriod {
  display: flex;
  gap: 20px;
  flex-direction: column;

  span{
    height: 20px;

    text-align: center;
  }
}

.MeetTable__ColumnsWrapper {
  width: 100%;

  align-self: start;

  min-width: 0;
}

.MeetTable__Columns {
  display: flex;
  overflow: auto hidden;

  width: 100%;

  /* Для IE и Edge */
  -ms-overflow-style: none;

  /* Для Firefox */
  scrollbar-width: none;
}

.MeetTable__Columns::-webkit-scrollbar {
  /* Для Chrome, Safari и Opera */
  display: none;

  width: 0;
  height: 0;
}

.MeetTable__ColumnWrapper{
  display: flex;
  flex-direction: column;

  width: 100%
}

.MeetTable__TimesPeriodSeparator {
  display: flex;
  justify-content: center;

  height: 46px;
}

.MeetTable__TimesPeriod_beforeSepate {
  --size-cell: 32px;
  margin-bottom: calc(calc(var(--size-cell) - 2px) - 1em + calc(var(--size-cell) * var(--size-factor, 0)));
}

.MeetTable__Arrows {
  display: flex;
  align-items: center;

  svg {
    width: 32px;
    height: 32px;
  }

  button {
    padding: 4px;
    width: 40px;
    height: 40px;

    cursor: pointer;
  }

  button:first-child{
    svg {
      rotate: -180deg;
    }
  }
}

.MeetTable__Arrow {
  color: var(--termeet-color-gray-main-10)
}

.MeetTable__Arrow_active {
  color: var(--termeet-always-black)
}
