.MeetTable {
  display: flex;
  gap: 6px;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
}

.MeetTable__ColumnsWrapper {
  width: 100%;

  align-self: start;

  min-width: 0;
}

.MeetTable__Columns {
  display: flex;

  width: 100%;

  /* Для IE и Edge */
  -ms-overflow-style: none;

  overflow-x: auto;

  /* Для Firefox */
  scrollbar-width: none;
}

.MeetTable__Columns::-webkit-scrollbar {
  /* Для Chrome, Safari и Opera */
  display: none;

  width: 0;
  height: 0;
}

.MeetTable__ColumnWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%
}

.MeetTable__TimesPeriod {
  display: flex;
  gap: 44px;
  flex-direction: column;

  align-self: start;
  margin-right: 20px;

  span{
    line-height: 100%;
  }
}

.MeetTable__TimesContainer {
  display: flex;
  flex-direction: column;

  padding-top: 45px;

  align-self: start;
}

.MeetTable__TimesPeriodSeparator {
  display: flex;
  justify-content: center;

  height: 46px;
}

.MeetTable__TimesPeriod_beforeSepate {
  --size-cell: 32px;
  margin-bottom: calc(calc(var(--size-cell) - 2px) - 1em + calc(var(--size-cell) * var(--size-factor, 0)));
}

.MeetTable__Arrows {
  display: flex;
  align-items: center;

  svg {
    width: 32px;
    height: 32px;
  }

  button {
    padding: 4px;
    width: 40px;
    height: 40px;

    cursor: pointer;
  }

  button:first-child{
    svg {
      rotate: -180deg;
    }
  }
}

.MeetTable__Arrow {
  color: var(--termeet-color-gray-main-10)
}

.MeetTable__Arrow_active {
  color: var(--termeet-always-black)
}

/* Самому нижнему слоту в столбце убираем отступ */
[data-column-id] [data-id]:last-child {
  margin-bottom: 0;
}

/* В первом столбце всем убираем слева */
[data-column-id]:first-child [data-id] {
  margin-left: 0;
}

[data-column-id]:first-child [data-id][data-disabled="true"] {
  margin-left: 1px;
}

[data-column-id]:first-child [data-id]:first-child[data-show-before="false"] {
  border-top-left-radius: var(--termeet-border-16);
}

[data-column-id]:first-child [data-id]:last-child[data-disabled="false"] {
  border-bottom-left-radius: var(--termeet-border-16);
}

[data-column-id]:last-child [data-id]:first-child[data-disabled="false"] {
  border-top-right-radius: var(--termeet-border-16);
}

[data-column-id]:last-child [data-id]:last-child[data-show-after="false"] {
  border-bottom-right-radius: var(--termeet-border-16);
}

@media (width<= 768px){
  .MeetTable {
    font-size: 5rem;
  }

  .MeetTable__TimesPeriod_beforeSepate {
    --size-cell: 36px;
  }

  .MeetTable__TimesPeriodSeparator {
    height: 35px;
  }
  
  .MeetTable__TimesPeriod {
    gap: 50px;

    margin-right: 0;
  }
}

@media (width<= 425px) {
  .MeetTable {
    font-size: 4rem;
  }
    
  .MeetTable__TimesPeriod {
    gap: 54px;

    margin-right: 0
  }

  .MeetTable__Arrows {
    svg {
      width: 20px;
      height: 20px;
    }

    button {
      padding: 2px;
      width: 20px;
      height: 20px;
    }
}}
