.card {
    position: relative;

    overflow: hidden;

    width: 100%;

    background-color: var(--light-fill-controls);
    border: 2px solid var(--light-fill-outline);
    border-radius: 16px;

    max-width: 336px;
}

.pill {
    height: 12px;

    background-color: var(--light-components-hover);
    border-radius: 100px;
}

.pillLeft {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 82px;
}

.headerRight {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    gap: 4px;
}

.pillSmall {
    width: 34px;
}

.logo {
    position: absolute;
    top: 8px;
    left: 50%;

    display: flex;
    align-items: center;

    transform: translateX(-50%);
}

.gridContainer {
    display: grid;
    overflow: hidden; 
    gap: 1px;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 20px);
    margin-top: 32px;
}

.cell {
    background-color: var(--light-fill-bg);

    animation: flash 7s ease-in-out infinite;

    animation-delay: calc((var(--row) * 1.4s) + (var(--col) * 0.15s));
}

@keyframes flash {
    0% { 
        background-color: var(--light-fill-bg); 
    }

    2%, 8% { 
        background-color: var(--light-semantics-light-blue-disabled); 
    }

    4%, 6% {
        background-color: var(--light-semantics-light-blue-default);
    }

    10%, 100% {
        background-color: var(--light-fill-bg);
    }
}
