.MainContainer {
  display: flex;
  justify-content: center;

  padding-bottom: 40px;
  padding-left: 120px;
  
  max-width: 90vw;
}

@media (width <= 768px) {
  .MainContainer {
    padding: 16px;

    max-width: 100%;
  }
}