.headerContainer {
  background-color: var(--fill-controls);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  margin: 0 auto;
  padding: 10px 0;
  padding: 0 100px;

  grid-template-columns: repeat(3, auto);

  max-width: 1400px;

  min-height: 54px;
}

.header__title {
  color: var(--text-main);

  font-size: 4rem;
  font-weight: 700;
  line-height: 24px;
}

.header__groupAnchors {
  display: flex;  
  align-items: center;
  gap: 24px;

  order: 2;

  span {
    font-size: 3rem;
  }
}

button.header__loginBtn {
  width: fit-content;
  padding: 8px 10px;

  font-size: 3rem;
  order: 3;
}

.toogleTheme {
  gap: 6px;

  height: 32px;
  padding: 1px;

  border: 1px solid transparent;

  border-color: var(--semantics-blue-950);
}

.activeTheme {
  color: var(--fill-outline);
  background-color: var(--semantics-blue-200);
}

.themeOption {
  padding: 4px
}



@media (width <= 1024px) {
  header {
    padding: 0 10px; 

    min-height: 44px; 
  }
}

@media (width <= 568px) {
  header {
    padding: 5px 10px;

    grid-template-columns: repeat(2, auto); 
  }

  button.header__loginBtn {
    order: 2
  }

  .header__groupAnchors {
    justify-content: space-evenly;

    width: 100%;
    padding: 0 20px;

    order: 3;
  }
}