.container {
  margin: 0 auto;
  padding: 32px 100px 40px;

  background-color: var(--fill-bg);

  max-width: 1400px;
}

.headerContainer {
  background-color: var(--fill-controls);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 44px;
  margin: 0 auto;
  padding: 10px 0;
  padding: 0 100px;

  max-width: 1400px;
}

.header__title {
  color: var(--text-main);

  font-size: 4rem;
  font-weight: 700;
  line-height: 24px;
}

.toogleTheme {
  gap: 6px;

  height: 32px;
  padding: 1px;

  border: 1px solid transparent;

  border-color: var(--semantics-blue-950);
}

.activeTheme {
  color: var(--fill-outline);
  background-color: var(--semantics-blue-200);
}

.themeOption {
  padding: 4px
}

@media (width <= 1024px) {
  .container {
    padding: 10px 10px 40px;
  }

  .header {
    padding: 0 10px;  
  }
}