.TableCell {
  width: 100%;
  height: 20px;
  
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);

  transition: background-color 0.2s ease, border-color 0.2s ease;

  font-size: 16px;
}

.TableCell:hover {
  border-color: var(--hover-color);
}

.TableCell_disabled {
  background: repeating-linear-gradient(
    -45deg,           /* угол наклона 45 градусов */
    var(--semantics-gray-default) 0,                  /* цвет полоски */
    var(--semantics-gray-default) 2px,                  /* цвет полоски */
    var(--fill-bg) 2px,                             /* начало прозрачного промежутка */
    var(--fill-bg) 8px  
  );
  cursor: default;
}

.TableCell_disabled:hover {
  border-color: var(--semantics-blue-50) !important;
}

.cellTooltip {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 118px;

  svg {
    color: var(--semantics-blue-950);
  }
}

.cellTooltipContent {
  display: flex;
  gap: 0;
  flex-direction: column;

  padding: 6px 12px;

  color: var(--text-inverted);
  background-color: var(--semantics-blue-950);
  border-radius: 16px;

  font-size: 3rem;
  line-height: 1.25;
}

.cellTooltipTime {
  opacity: .5;
}

.cellTooltipCount {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.cellTooltipArrow__Up {
  transform: rotate(180deg);
}