.Input {
  position: relative;

  min-width: 0;
}

.Input__Field {
  width: 100%;
  padding: 30px 48px 12px 16px;

  font: var(--termeet-typo-body-m-bold);

  background-color: var(--termeet-color-bg-inputs);
  border: 1px solid;
  border-radius: var(--termeet-border-16);

  transition: border-color 0.2s ease;

  border-color: var(--termeet-color-gray-main-10);
}

.Input__Error .Input__Field {
  color: var(--termeet-color-accent-errors);

  border-color: var(--termeet-color-accent-errors);
  outline: none; /* Смотрится не очень две обводки */
}

.Input__ErrorField {
  display: flex;

  font: var(--termeet-typo-body-s);

  color: var(--termeet-color-accent-errors);

  gap: 4px;
  margin-top: 8px;
}

.Input__Label {
  position: absolute;
  top: 12px;
  left: 16px;

  font: var(--termeet-typo-body-s);

  color: var(--termeet-color-gray-main-100);

  text-overflow: ellipsis;
}
