.MeetHeader {
  display: flex;
  flex-direction: column;

  padding: 22px 22px 24px;

  background-color: var(--light-fill-controls);
  border-radius: 32px;

  transition: transform 0.2s ease-in-out;

  max-width: 100%
}

.MeetHeader__Info {
  display: flex;
  gap: 8px;
  align-items: center;
}

.MeetHeader__Info__Title {
  overflow: hidden;
  flex: 1; /* Чтобы занимал оставшееся место */

  color: var(--light-text-main);

  font-size: var(--text-heading);
  font-weight: 800;
  line-height: 1.2;
  min-width: 0;
  text-overflow: ellipsis;
  
  white-space: nowrap; 
}

.MeetHeader__Info__Duration {
  flex-shrink: 0;

  color: var(--light-text-secondary);

  font-size: var(--text-heading);
  white-space: nowrap;
}

.MeetHeader__Info__Button {
  flex-shrink: 0;
  display: flex;

  padding: 16px;
  
  border-radius: 16px;
  background-color: var(--light-fill-bg);

  transition: background-color 0.3s ease-in-out; 

  svg {
    margin: 0;
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: var(--light-components-hover)
  }

  &:active {
    background-color: var(--light-text-disabled)
  }
}

.MeetHeader__Info__ExpandButton {
  svg {  
    transition: transform .3s ease-in-out;
    transform: rotate(90deg);
  }
}

.MeetHeader__expanded .MeetHeader__Info__ExpandButton{
  svg {
    transform: rotate(270deg);
  }
}

.MeetHeader__desc {
  overflow: hidden;

  padding: 0;

  color: var(--light-text-main);

  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
  
  font-size: 4rem;
  line-height: 1.4;

  max-height: 0;
  opacity: 0;
  overflow-wrap: anywhere;
}

.MeetHeader__expanded .MeetHeader__desc {
  max-height: 350px;
  opacity: 1;
}

.MeetHeader__link {
  width: fit-content;

  color: var(--light-semantics-blue-main);

  transition: color 0.3s ease-in-out;

  cursor: pointer;

  font-size: var(--text-body);

  &:hover {
    color: var(--light-semantics-blue-hover);
  }

  &:active {
    color: var(--light-semantics-blue-active);
  }
}

.MeetHeader__Info__ExpandButton .MeetHeader__Info__AccordeonIcon {
  transform: rotate(-0deg);
}

.MeetHeader__modalWrapper {
  padding: 16px 16px 32px;

  p {
    font-size: 3.5rem;
  }
}

.MeetHeader__modalTitle {
  padding-right: 40px;

  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 12px;
}

@media (width < 768px) {
  .MeetHeader{
    position: fixed;
    z-index: 1000;
    top: 54px;
    right: 10px;
    left: 10px;

    gap: 0;

    padding: 12px 16px 20px;

    border-radius: 20px;
  }

  .MeetHeader__Info__Button {
    padding: 8px;

    border-radius: 50%;
  }
}