.MeetHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 16px 16px 24px;

  background-color: var(--light-fill-controls);
  border-radius: 32px;

  max-width: 450px;
}

.MeetHeader__Info {
  display: flex;
  gap: 8px;
  align-items: center;
}

.MeetHeader__Info__Title {
  overflow: hidden;
  flex: 1; /* Чтобы занимал оставшееся место */

  color: var(--light-text-main);

  font-size: var(--text-heading);
  font-weight: 800;
  line-height: 1.2;
  min-width: 0;
  text-overflow: ellipsis;
  
  white-space: nowrap; 
}

.MeetHeader__Info__Duration {
  flex-shrink: 0;

  color: var(--light-text-secondary);

  font-size: var(--text-heading);
  white-space: nowrap;
}

.MeetHeader__Info__Button {
    flex-shrink: 0;
  display: flex;

  padding: 16px;
  
  border-radius: 16px;
  background-color: var(--light-fill-bg);

  transition: background-color 0.3s ease-in-out; 

  svg {
    margin: 0;
    width: 16px;
    height: 16px;

  }
}

.MeetHeader__Info__Button:hover {
  background-color: var(--light-components-hover)
}

.MeetHeader__Info__Button:active {
  background-color: var(--light-text-disabled)
}

.MeetHeader__Info__ExpandButton {
  svg {  
    transition: transform .3s ease-in-out;

    rotate: 90deg;
  }
}

.MeetHeader__expanded .MeetHeader__Info__ExpandButton{
  svg {
    transform: rotate(180deg);
  }
}

.MeetHeader__desc {
  overflow: hidden;

  padding: 0;

  color: var(--light-text-main);

  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
  font-size: 4rem;
  line-height: 1.4;
  max-height: 0;
  opacity: 0;
}

.MeetHeader__expanded .MeetHeader__desc {
  max-height: 350px; /* Достаточно большое значение */
  opacity: 1;
}

.MeetHeader__link {
  width: fit-content;

  color: var(--light-semantics-blue-main);

  transition: color 0.3s ease-in-out;

  cursor: pointer;

  font-size: var(--text-body)
}

.MeetHeader__link:hover {
  color: var(--light-semantics-blue-hover);
}

.MeetHeader__link:active {
  color: var(--light-semantics-blue-active);
}
