.Button {
  overflow: hidden;
  flex-basis: 350px;

  padding: 16px 12px;

  border-radius: var(--termeet-border-16);

  transition: opacity 0.3s ease-in;

  font-size: 5rem;
  font-weight: 600;

  max-height: 60px;

  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MeetHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MeetHeader__Info {
  position: relative;

  display: flex;
  gap: 20px;
  justify-content: space-between
}

.MeetHeader__Info__Title {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10px;

  h2 {
    font-size: 12rem;
    font-weight: 700;
    overflow-wrap: break-word;
  }

  svg {
    margin: 0 auto;

    color:var(--termeet-color-brand-light-100);
  }
}

.MeetHeader__Info__Title__EditButton {
  width: 37px;
  height: 37px;
  padding: 5px;

  margin-top: 10px;
}

.MeetHeader__Info__Desc {
  font-size: 6rem; 
}

.MeetHeader__Info__Wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.MeetHeader__Info__DurationBadge {
  display: flex;
  align-items: center;

  width: fit-content;
  padding: 8px 6px;

  color: var(--termeet-color-always-white);
  background-color: var(--termeet-color-brand-light-100);
  border-radius: var(--termeet-border-16);

  font-size: 5rem;

  svg {
    margin-right: 8px
  } 
}

.MeetHeader__Info__Buttons {
  display: flex;
  align-items: center;
  gap: 10px;

  height: fit-content;

  color: var(--termeet-color-brand-light-100);
}

.MeetHeader__Info__Share {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

  color: var(--termeet-color-brand-light-100);
  background-color: var(--termeet-color-brand-light-20);

  font-weight: 500;
  min-width: 165px;
}

.MeetHeader__Time {
  display: flex;
  gap: 16px;
}

.MeetHeader__Time__Title {
  flex-shrink: 0;

  font-size: 9rem;
  font-weight: 600;

  margin-right: auto
  
}

.MeetHeader__Time__Choose {
  color: var(--termeet-color-always-white);
  background-color: var(--termeet-color-brand-main-dark);
}

.MeetHeader__Time__Choose:disabled {
  cursor: auto;
  opacity: .7;
}

.MeetHeader__Time__Final {
  color: var(--termeet-color-brand-main-dark);
  border: 2px solid var(--termeet-color-brand-main-dark);
}

.Button:hover{
  opacity: .7;
}

.Button:active{
  scale: .99;
}

/* Adaptive */
@media (width <= 1024px) {
  .MeetHeader__Info__Title h2 {
    font-size: 10rem
  }

  .MeetHeader__Time__Title {
    font-size: 7rem;
  } 
}

@media (width <= 768px) {
  .MeetHeader {
    gap: 10px;
  }

  .MeetHeader__Time {
    flex-direction: column;
    gap: 8px;

  }

  .MeetHeader__Info {
    flex-direction: column;
    gap: 10px;
  } 

  .MeetHeader__Info__EditButton {
    position: absolute;
    top: 5px;
    right: 140px
  }
  
  .MeetHeader__Info__Title__EditButton {
    margin-top: 0
  }

  .MeetHeader__Info__Wrapper {
    gap: 10px;

    h2 {
      font-size: 8rem;
    }
  }

  .MeetHeader__Time__Title {
    font-size: 6rem;
    order: 1;
  } 

  .MeetHeader__Time__Choose {
    order: 2;
  }

  .MeetHeader__Time__Final{
    order: 3;
  }
}

@media (width <= 425px) {
  .MeetHeader svg {
    width: 20px;
    height: 20px;
  }

  .MeetHeader__Info__Wrapper {
    h2 {
      font-size: 5rem;
    }
  }

  .MeetHeader__Info__Wrapper button {
    margin-left: 0;
  }

  .Button, .MeetHeader__Info__DurationBadge, .MeetHeader__Time__Title, .MeetHeader__Info__Desc  {
    font-size: 4rem;
  }

  .MeetHeader__Info__EditButton {
    right: 120px
  }

  .Button {
    padding: 13px 0;
  }

  .MeetHeader__Info__DurationBadge {
    padding: 4px 8px;
  }
}
