.CreateMeetingPage__Header {
  padding: 28px 0;
  padding-left: 10%;

  font: var(--termeet-typo-body-xl);

  box-shadow: 0 0 42px rgb(0 0 0 / 8%);

  margin-bottom: 40px;
}

.CreateMeetingPage__Form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  font: var(--termeet-typo-body-s);
}

.CreateMeetingPage__Calendar {
  display: flex;
  flex: 1 1 300px;
  gap: 20px;
  flex-direction: column;

  max-width: 650px;
} 

.CreateMeetingPage__Content {
  display: flex;
  flex-direction: column;

  padding: 8%;
  padding-top: 0;
}

.CreateMeetingPage__Content__Title {
  font: var(--termeet-heading-xl);

  margin-bottom: 40px
}

.CreateMeetingPage__Content__FormWrapper {
  display: flex;
  flex: 1 1 300px;
  gap: 20px;
  flex-direction: column;

  font: var(--termeet-typo-body-s);

  max-width: 650px
}

.CreateMeetingPage__CreateButton, .CreateMeetingPage__ContinueButton {
  padding: 12px 16px;

  font:var(--termeet-typo-body-l-bold);
  text-align: center;

  color: var(--termeet-color-always-white);
  background-color: var(--termeet-color-gray-main-100);
  border-radius: var(--termeet-border-16);

  transition: opacity 0.2s ease;

  cursor: pointer;
  margin-bottom: 24px;
}

.CreateMeetingPage__CreateButton:focus-visible {
  outline: 2px solid var(--termeet-color-always-white);
}

.CreateMeetingPage__CreateButton:hover {
  opacity: 0.8;
}

@media (width <= 768px) {
  .CreateMeetingPage__Content__Title {
    margin-bottom: 24px;
  }

  .CreateMeetingPage__Header {
    margin-bottom: 32px;
  }
}