.CreateMeetingPage__CreateButton {
  padding: 12px 16px;

  text-align: center;

  color: var(--termeet-color-always-white);
  background-color: var(--termeet-color-gray-main-100);
  border-radius: var(--termeet-border-16);

  transition: opacity 0.2s ease;

  cursor: pointer;

  margin-top: 24px;
}

.CreateMeetingPage__CreateButton:focus-visible {
  outline: 2px solid var(--termeet-color-always-white);
}

.CreateMeetingPage__CreateButton:hover {
  opacity: 0.8;
}
