.CreateMeetingPage__Form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  font-size: 3rem;
  line-height: 18px;
}

.CreateMeetingPage__Calendar {
  display: flex;
  flex: 1 1 310px;
  flex-direction: column;

  max-width: 650px
} 

.CreateMeetingPage__Content {
  display: flex;
  flex-direction: column;
}

.CreateMeetingPage__Content__Title {
  font-size: 12rem;
  line-height: 48px;

  margin-bottom: 40px
}

.CreateMeetingPage__Content__FormWrapper {
  display: flex;
  flex: 1 1 310px;
  gap: 20px;
  flex-direction: column;

  font-size: 3rem;

  max-width: 650px;
  min-height: 100vh;
}

.CreateMeetingPage__CreateButton, .CreateMeetingPage__ContinueButton {
  padding: 12px 16px;

  text-align: center;

  color: var(--termeet-color-always-white);
  background-color: var(--termeet-color-gray-main-100);
  border-radius: var(--termeet-border-16);

  transition: opacity 0.2s ease;

  cursor: pointer;

  font-size: 5rem;
  line-height: 24px;
  margin-bottom: 24px;
}

.CreateMeetingPage__ContinueButton {
  margin-top: 24px;
}

.CreateMeetingPage__CreateButton:focus-visible {
  outline: 2px solid var(--termeet-color-always-white);
}

.CreateMeetingPage__CreateButton:hover {
  opacity: 0.8;
}

@media (width <= 768px) {
  .CreateMeetingPage__Content__Title {
    margin-bottom: 24px;
  }

  .CreateMeetingPage__Header {
    margin-bottom: 32px;
  }
}