.TableCell {
  height: 46px;
  
  border: 1px solid var(--termeet-color-gray-light-table);

  transition: background-color 0.2s ease;

  font-size: 16px;
}

@media(width<=768px){
  .TableCell {
    height: 36px;
  }
}