.ModalWrapper__Overlay {
  position: fixed;
  z-index: 1000;

  display: flex;
  visibility: hidden;
  justify-content: center;

  padding: 20px;

  background-color: rgb(0 0 0 / 30%);

  transition: 
    opacity var(--animation-duration, 300ms) ease,
    visibility var(--animation-duration, 300ms) ease;

  backdrop-filter: blur(4px);

  inset: 0;

  opacity: 0;
  overflow-y: auto; /* Скролл если контент не помещается */
}

.ModalWrapper__Overlay_visible {
  visibility: visible;

  opacity: 1;
}

.ModalWrapper__ModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: fit-content;

  background-color: var(--fill-bg);
  border-radius: 16px;

  transform: translateY(-100px) scale(0.95);
  transition: transform var(--animation-duration, 300ms) cubic-bezier(0.34, 1.56, 0.64, 1), opacity var(--animation-duration, 300ms) ease;

  align-self: start;
  max-height: calc(100vh - 80px);
  max-width: 745px;
  opacity: 0;
  overflow-y: auto;
}

.ModalWrapper__ModalContainer_Opened {
  transform: translateY(40px) scale(1);

  opacity: 1;
}

.ModalWrapper__CloseButton {
  position: absolute;
  z-index: 100;
  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  color: var(--text-main); 
  background-color: var(--fill-controls);
  border-radius: 50%;

  transition: background-color 0.3s ease-in-out;


  cursor: pointer;

  &:hover {
    background-color: var(--components-hover)
  }

  &:active {
    background-color: var(--text-disabled)
  }

  svg {
    width: 16px;
    height: 16px;

    transform: rotate(45deg);
  }
}

@media (width <= 768px) {
  .ModalWrapper__Overlay {
    padding: 10px;
  }

}