.TableCell {
  width: 100%;
  height: 46px;
  margin: 0 0 -1px -1px;
  
  border: 1px solid var(--termeet-color-gray-light-table);

  transition: background-color 0.2s ease;

  font-size: 16px;
}

.TableCell_disabled {
  background-image: repeating-linear-gradient(
    45deg,                    /* угол наклона */
    var(--termeet-color-bg-inputs),                  /* цвет полоски */
    var(--termeet-color-bg-inputs) 8px,              /* полоска шириной 8px */
    transparent 8px,          /* начало прозрачного промежутка */
    transparent 16px          /* ширина промежутка 8px */
  );
  cursor: not-allowed;
  opacity: 0.8;
}

@media(width<=768px){
  .TableCell {
    height: 36px;
  }
}