.TableCell {
  width: 100%;
  height: 20px;
  
  border: 1px solid var(--light-semantics-gray-default);

  transition: background-color 0.2s ease, border-color 0.2s ease;

  font-size: 16px;
}

.TableCell:hover {
  /* Хз потом исравлю если */
  border-color: var(--hover-color, --light-semantics-light-blue-disabled) !important;
}

.TableCell_disabled {
  background-image: repeating-linear-gradient(
    45deg,                    /* угол наклона */
    var(--light-semantics-gray-default),                  /* цвет полоски */
    var(--light-semantics-gray-default) 8px,              /* полоска шириной 8px */
    transparent 8px,          /* начало прозрачного промежутка */
    transparent 16px          /* ширина промежутка 8px */
  );
  cursor: not-allowed;
}