.MeetPeoples__Title {
  color: var(--text-main);

  font-size: var(--text-heading);
  font-weight: 800
}

.MeetPeoples__Count {
  color: var(--semantics-gray-active);

  margin-left: 8px;
}

.MeetPeoples__Users__Container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: 0;

  color: var(--text-main);

  font-size: 4rem;

  span {
    overflow: hidden;
    
    transition: color 0.3s ease-in-out;

    cursor: pointer;

    font-size: var(--text-body);

    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span:hover {
    color: var(--text-main);
  }
}

.MeetPeoples__user_hovered {
  color: var(--text-main);
}

.StubMessage {
  color: var(--text-main);

  font-size: var(--text-body);
  opacity: .3;
}

@media (width < 768px) {
  .MeetPeoples {
    padding: 12px;

    border-radius: 20px;
  }

  .MeetPeoples__ExpandButton {
    padding: 8px;

    border-radius: 8px;
  }
}
