.MeetTable {
  display: flex;
  align-items: center;

  width: 100%;
  height: fit-content;
  padding-right: 24px;
  padding-bottom: 24px;

  background-color: var(--fill-controls);
  border: 1px solid var(--semantics-gray-hover);
  border-radius: 32px;

  font-size: 3rem;
}

.MeetTable__TimesPeriodsContainer {
  display: flex;
  flex-direction: column;

  width: 64px;
  padding-top: 44px;

  color: var(--text-main);

  align-self: start;
}

.MeetTable__TimesPeriod {
  display: flex;
  gap: 20px;
  flex-direction: column;

  span{
    height: 20px;

    text-align: center;
  }
}

.MeetTable__ColumnsWrapper {
  width: 100%;

  align-self: start;

  min-width: 0;
}

.MeetTable__Columns {
  display: flex;
  overflow: auto hidden;

  width: 100%;

  /* Для IE и Edge */
  -ms-overflow-style: none;

  /* Для Firefox */
  scrollbar-width: none;
}

.MeetTable__Columns::-webkit-scrollbar {
  /* Для Chrome, Safari и Opera */
  display: none;

  width: 0;
  height: 0;
}

.MeetTable__ColumnWrapper{
  display: flex;
  flex-direction: column;

  width: 100%
}

.MeetTable__TimesPeriodSeparator {
  display: flex;
  justify-content: center;

  height: 20px;
}

.MeetTable__TimesPeriod_beforeSepate {
  --size-cell: 32px;
  margin-bottom: calc(calc(var(--size-cell) - 2px) - 1em + calc(var(--size-cell) * var(--size-factor, 0)));
}

.MeetTable__TimeZonesToogleWrapper {
  position: absolute;
}

/* Делаем скругленными уголки таблицы */
.MeetTable__Columns [data-column-id]:first-child [data-first-cell="true"] {
  border-top-left-radius: 32px;
}

.MeetTable__Columns [data-column-id]:last-child [data-first-cell="true"] {
  border-top-right-radius: 32px;
}

.MeetTable__Columns [data-column-id]:first-child [data-last-cell="true"] {
  border-bottom-left-radius: 32px;
}

.MeetTable__Columns [data-column-id]:last-child [data-last-cell="true"] {
  border-bottom-right-radius: 32px;
}

@media (width < 768px) {
  .MeetTable {
    border-radius: 20px;
  }
}