.MeetTableWrapper {
  display: flex;
  flex-direction: column;

  /* Вычитаем ебучий gap */
  flex: 1 1 calc(65% - 32px);
  gap: 24px;

  width: 100%;

  max-width: 100%;

  min-width: 0;
}

.MeetTable {
  display: flex;
  align-items: center;

  width: 100%;
  height: fit-content;
  padding-right: 24px;
  padding-bottom: 24px;

  background-color: var(--fill-controls);
  border: 1px solid var(--semantics-gray-hover);
  border-radius: 32px;

  font-size: 3rem;
}

.MeetTable__Buttons {
  display: flex;
  gap: 8px;
  flex: 1;
}

.MeetTable__ButtonsEdit {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex: 1;
}

.MeetTable__ShareButton {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 16px;

  color: var(--text-main);
  background-color: var(--fill-controls);
  border: 1px solid var(--semantics-gray-hover);
  border-radius: 16px;

  transition: background-color 0.3s ease-in-out;

  font-size: var(--text-body);

  &:hover {
    background-color: var(--components-hover)
  }

  &:active {
    background-color: var(--text-disabled)
  }

  svg {
    width: 16px;
    height: 16px
  }
}

.MeetTable__AddTimeButton {
  padding: 14px 16px;
  width: fit-content;

  border-radius: 160px;
}

.MeetTable__ObserverHint {
  color: var(--text-secondary);

  align-self: center;

  font-size: var(--text-body);
  white-space: nowrap;
}

.MeetTable__ButtonsWrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}


@media (width < 768px) {
  .MeetTable__ButtonsEdit {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 10px 10px 32px;

    background-color: var(--fill-bg);
    box-shadow: 0 4px 24px rgb(0 0 0 / 12%);

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .MeetTable__Buttons {
    order: -1;
  }

  .MeetTable__ShareButton {
    width: 100%;
  }

  .MeetTable__AddTimeButton {
    width: 100%;

    border-radius: 16px;
  }

  .MeetTable__ButtonsWrapper {
    flex-direction: column-reverse;
    gap: 16px;
  }
}

.MeetTable__CancelIcon {
  transform: rotate(45deg);
}

.MeetTable__TimesPeriodsContainer {
  display: flex;
  flex-direction: column;

  width: 64px;
  padding-top: 44px;

  color: var(--text-main);

  align-self: start;
}

.MeetTable__TimesPeriod {
  display: flex;
  gap: 20px;
  flex-direction: column;

  span{
    height: 20px;

    text-align: center;
  }
}

.MeetTable__ColumnsWrapper {
  width: 100%;

  align-self: start;

  min-width: 0;
}

.MeetTable__Columns {
  display: flex;
  overflow: auto hidden;

  width: 100%;

  /* Для IE и Edge */
  -ms-overflow-style: none;

  /* Для Firefox */
  scrollbar-width: none;
}

.MeetTable__Columns::-webkit-scrollbar {
  /* Для Chrome, Safari и Opera */
  display: none;

  width: 0;
  height: 0;
}

.MeetTable__ColumnWrapper{
  display: flex;
  flex-direction: column;

  width: 100%
}

.MeetTable__TimesPeriodSeparator {
  display: flex;
  justify-content: center;

  height: 20px;
}

.MeetTable__TimesPeriod_beforeSepate {
  --size-cell: 32px;
  margin-bottom: calc(calc(var(--size-cell) - 2px) - 1em + calc(var(--size-cell) * var(--size-factor, 0)));
}

.MeetTable__TimeZonesToogleWrapper {
  position: absolute;
}

/* Делаем скругленными уголки таблицы */
.MeetTable__Columns [data-column-id]:first-child [data-first-cell="true"] {
  border-top-left-radius: 32px;
}

.MeetTable__Columns [data-column-id]:last-child [data-first-cell="true"] {
  border-top-right-radius: 32px;
}

.MeetTable__Columns [data-column-id]:first-child [data-last-cell="true"] {
  border-bottom-left-radius: 32px;
}

.MeetTable__Columns [data-column-id]:last-child [data-last-cell="true"] {
  border-bottom-right-radius: 32px;
}

@media (width < 768px) {
  .MeetTable {
    border-radius: 20px;
  }
}