.PasswordHints {
  display: flex;
  gap: 6px;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-left: 6px;
}

.PasswordHints__Item {
  display: flex;
  gap: 8px;
  align-items: center;

  color: var(--text-secondary);

  transition: color 0.2s ease;

  font-size: 3rem;
  line-height: 1.25;
}

.PasswordHints__Item_done {
  color: var(--semantics-green-main);
}

.PasswordHints__Item_done .PasswordHints__Mark {
  color: var(--semantics-green-main);

  border-color: var(--semantics-green-main);
}

.PasswordHints__Item_fail {
  color: var(--semantics-red-main);
}

.PasswordHints__Item_fail .PasswordHints__Mark {
  border-color: var(--semantics-red-main);
}

.PasswordHints__Mark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 14px;
  height: 14px;

  border: 1px solid var(--semantics-gray-active);
  border-radius: 4px;
  color: var(--text-secondary);

  svg {
    width: 12px;
    height: 12px;
  }
}
