.TextArea {
    position: relative;

    width: 100%;
    height: fit-content;
}

.TextArea__Field {
    width: 100%;
    height: 128px;
    padding: 30px 16px 12px;

    font: var(--termeet-typo-body-m-bold);

    border: 1px solid var(--termeet-color-gray-main-10);
    border-radius: var(--termeet-border-16);
    background-color: var(--termeet-color-bg-inputs);

    resize: none;
}

.TextArea__Error .TextArea__Field {
    border-color: var(--termeet-color-accent-errors);
    outline: none; /* Убого выглядят две обводки */
}

.TextArea__Label {
    position: absolute;
    top: 12px;
    left: 16px;

    font: var(--termeet-typo-body-s);

    color: var(--termeet-color-gray-main-100);

    pointer-events: none;
}

.TextArea__ErrorField {
    display: flex;

    font: var(--termeet-typo-body-s);

    color: var(--termeet-color-accent-errors);

    gap: 4px;
    margin-top: 4px;
}

