.CalendarWrapper {
  position: relative;

  flex: 0 0 420px;
}

.Calendar {
  --cell-size: 40px;
  padding: 20px 24px;
  padding-bottom: 35px;

  text-align: center;

  color: var(--light-text-main);
  background-color: var(--light-fill-controls);
  border-radius: 16px;
}

.Calendar__Arrow, .Calendar__Arrow_Left {
  width: 16px;
  height: 16px;
  margin: 0;

  color: var(--light-text-main);

  transition: color 0.2s ease-in-out;
}

.Calendar__Arrow_Left {
  transform: rotate(180deg);
}

.Calendar__Arrow:focus-visible, .Calendar__Arrow_Left:focus-visible {
  transform: rotate(90deg);
}

.Calendar__Arrow:hover,  .Calendar__Arrow_Left:hover {
  color: var(--light-text-disabled)
}

.Calendar__Day {
  position: relative;

  width: var(--cell-size);
  height: var(--cell-size);

  color: var(--light-text-main);
  border-radius: 8px;
  border: 1px solid transparent;

  transition: background-color 0.2s ease-in-out;

  font-size: var(--text-body);
}

.Calendar__Day:focus-visible {
  border-color: var(--light-fill-outline);

  outline: 2px solid var(--light-semantics-dark-blue-active);
  outline-offset: 2px
}

.Calendar__Day:disabled {
  color: var(--light-text-disabled);
}

.Calendar__Day:hover {
  background-color: var(--light-components-hover);
}

.Calendar__Day:disabled:hover {
  background-color: transparent;
}

.Calendar__Day.Calendar__Day_Selected {
  color: var(--light-fill-bg);
  background-color: var(--light-semantics-dark-blue-default);

  opacity: 1
}

.Calendar__Day.Calendar__Day_Selected:hover {
  background-color: var(--light-semantics-dark-blue-active);
}

.Calendar__Day_Selected:focus-visible {
  border-color: var(--light-semantics-black-main);
}

.Calendar__ErrorField, .Calendar__SuggestField {
  position: absolute;
  bottom: 10px;
  left: 50%;

  display: flex;
  gap: 4px;

  color: var(--light-semantics-red-main);

  transform: translateX(-50%);
  animation: fade-in 0.3s ease-in-out;

  font-size: 3.5rem;
  line-height: 1.25;
  margin-top: 8px;
}

.Calendar__SuggestField {
  color: var(--light-text-secondary)
}

@keyframes fade-in {
  0% {
    transform: translateY(-10px);

    opacity: 0;
  }

  100% {
    transform: translateY(0);

    opacity: 1;
  }
}

@media (width <= 768px) {
  .Calendar {
    --cell-size: 32px;
  }
}

@media (width <= 300px) {
  .Calendar {
    --cell-size: 24px;
  }
}

