.CalendarWrapper {
  position: relative;

  flex: 0 0 420px;
}

.Calendar {
  --cell-size: 40px;
  --column-gap: 15px;
  padding: 20px 24px;

  text-align: center;

  color: var(--light-text-main);
  background-color: var(--light-fill-controls);
  border-radius: 16px;

  max-width: calc(7 * var(--cell-size) + 48px + 6 * var(--column-gap))
}

.Calendar__Arrow, .Calendar__Arrow_Left {
  width: 16px;
  height: 16px;
  margin: 0;

  color: var(--light-text-main);

  transition: color 0.2s ease-in-out;
}

.Calendar__Arrow_Left {
  transform: rotate(180deg);
}

.Calendar__Arrow:hover,  .Calendar__Arrow_Left:hover {
  color: var(--light-text-disabled)
}

.Calendar__Day {
  position: relative;

  width: var(--cell-size);
  height: var(--cell-size);

  color: var(--light-text-main);
  border-radius: 8px;

  transition: background-color 0.2s ease-in-out;

  font-size: var(--text-body);
}

.Calendar__Day:disabled {
  color: var(--light-text-disabled);
}

.Calendar__Day:hover {
  background-color: var(--light-components-hover);
}

.Calendar__Day:disabled:hover {
  background-color: transparent;
}

.Calendar__Day_Weekend {
  color: var(--termeet-color-brand-light-100)
}

.Calendar__Day.Calendar__Day_Selected {
  color: var(--light-fill-bg);
  background-color: var(--light-semantics-dark-blue-default);

  opacity: 1
}

.Calendar__Day.Calendar__Day_Selected:hover {
  background-color: var(--light-semantics-dark-blue-active);

}

.Calendar__ErrorField {
  position: absolute;
  bottom: 10px;
  left: 24px;

  display: flex;
  gap: 4px;

  color: var(--termeet-color-accent-errors);

  animation: fade-in 0.3s ease-in-out;

  font-size: 3rem;
  line-height: 18px;
  margin-top: 8px;
}

@keyframes fade-in {
  0% {
    transform: translateY(-10px);

    opacity: 0;
  }

  100% {
    transform: translateY(0);

    opacity: 1;
  }
}

@media (width <= 992px) {
  .Calendar {
    --gap: 10px;
  }
}

