/* Переопределение стилей с помощью классов из библы */

.react-calendar * {
  font-size: 5rem;
  font-weight: 600;
  line-height: 24px;
}

.react-calendar__month-view__weekdays {
  position: relative;

  justify-content: space-between;
  align-items: center;

  padding: 12px 0;

  margin-bottom: 16px;
}

.react-calendar__month-view__weekdays::after {
  position: absolute;
  bottom: -8px;

  width: 100%;
  height: 1px;

  background-color: var(--termeet-color-gray-main-20);

  content: "";
}

.react-calendar__month-view__weekdays__weekday--weekend {
  color: var(--termeet-color-brand-light-100)
}

abbr {
  text-decoration: none;
}


.react-calendar__month-view__days__day abbr {
  z-index: 100;
}

.react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-calendar__navigation__arrow {
  height: 100%;

  aspect-ratio: 1 / 1;
}

.react-calendar__navigation__arrow:disabled {
  cursor: not-allowed;
  opacity: .4;
  pointer-events: none;
}

.react-calendar .custom-month-year,
.react-calendar .custom-month-year * {
  font-size: 6rem !important;
  line-height: 117%;
}

.custom-month-year .year {
  color: var(--termeet-color-brand-light-100)
}