/* Переопределение стилей с помощью классов из библы */

.react-calendar__month-view__weekdays {
  justify-content: space-between;
  align-items: center;

  padding: 12px 0;

  font-size: var(--text-body);
  line-height: 1.25;

  margin-bottom: 8px;
}

.react-calendar__month-view__days {
  /* ну а че как по другому, хочется же gap нормальный иметь */
  display: grid !important;
  gap: 8px 15px;

  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.react-calendar__navigation__label__labelText {
  font-size: 4rem;
  line-height: 1.25;
}

.react-calendar__navigation__arrow {
  display: flex;
}

.react-calendar__navigation__arrow:disabled svg{
  color: var(--light-text-disabled);

  cursor: not-allowed;

  pointer-events: none;
}

abbr {
  text-decoration: none;
}

.react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--light-text-disabled)
}

.react-calendar__tile--now {
  background-color: var(--light-semantics-light-blue-hover);
}


.react-calendar__tile--now:hover {
  background-color: var(--light-semantics-light-blue-active);
}
