.MeetPeoples {
  display: flex;
  flex-direction: column;

  padding: 22px 22px 24px;

  background-color: var(--light-fill-controls);
  border-radius: 32px;

  max-width: 100%;
}

.MeetPeoples.MeetPeoples__expanded {
  gap: 12px;
}

.MeetPeoples__Title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: var(--light-text-main);

    font-size: var(--text-heading);
    font-weight: 800
  }
}

.MeetPeoples__Count {
  color: var(--light-text-secondary);

  margin-left: 8px;
}

.MeetPeoples__ExpandButton {
  flex-shrink: 0;
  display: flex;

  padding: 16px;
  
  border-radius: 16px;
  background-color: var(--light-fill-bg);

  transition: background-color 0.3s ease-in-out; 

  svg {
    margin: 0;
    width: 16px;
    height: 16px;

    transition: transform .3s ease-in-out;
    transform: rotate(90deg);
  }

  &:hover {
    background-color: var(--light-components-hover)
  }

  &:active {
    background-color: var(--light-text-disabled)
  }
}

.MeetPeoples__expanded .MeetPeoples__ExpandButton{
  svg {
    transform: rotate(270deg);
  }
}

.MeetPeoples__Users__Container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;

  padding: 0;

  color: var(--light-text-main);

  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
  font-size: 4rem;
  line-height: 1.4;
  max-height: 0;
  opacity: 0;

  span {
    width: fit-content;

    transition: color 0.3s ease-in-out;

    cursor: pointer;

    font-size: var(--text-body);

    line-height: 20px;
  }

  span:hover {
    color: var(--light-text-main);
  }
}

.MeetPeoples__expanded .MeetPeoples__Users__Container {
  max-height: var(--user-list-height, 350px); /* Достаточно большое значение */
  opacity: 1;
}

.MeetPeoples__Users__Container:has(.MeetPeoples__user_hovered) {
  color: var(--light-text-disabled);
}

.MeetPeoples__user_hovered {
  color: var(--light-text-main);
}

.MeetPeoples__Users__Container:has(span:hover) {
  color: var(--light-text-disabled);
}

@supports not (selector(:has(*))) {
  .MeetPeoples__Users__Container span:hover {
    color: var(--light-text-disabled);
  }
}

@media (width < 768px) {
  .MeetPeoples {
    padding: 12px;
  }

  .MeetPeoples__ExpandButton {
    padding: 8px;

    border-radius: 8px;
  }
}
