.TeamMemberCard {
    display: grid;
    gap: 16px;

    padding: 16px;

    background-color: var(--fill-controls);
    border: 1px solid var(--semantics-gray-hover);
    border-radius: 48px;

    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(3, auto);

    opacity: 0;

    p {
        font-size: var(--text-body)
    }
}

.TeamMemberCard_visible {
    animation: fade-in 0.25s forwards;

    animation-delay: var(--animation-delay, 0ms);
}

@keyframes fade-in {
    from {
        transform: translateY(12px);

        opacity: 0;
    }

    to {
        transform: translateY(0);

        opacity: 1;
    }
}

.TeamMemberCard__Photo {
    overflow: hidden;

    width: 200px;
    height: 200px;
    
    background-color: var(--semantics-blue-300);
    border: 1px solid var(--semantics-gray-hover);
    border-radius: 32px;

    grid-row: 1/4;

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.TeamMemberCard__Info__Role {
    color: var(--text-secondary);

    font-size: var(--text-body)
}

.TeamMemberCard__Info {
    h3 {
        font-size: 20px;
    }

    span {
        font-size: var(--text-body)
    }
}

.TeamMemberCard__Contacts {
    display: flex;
    gap: 4px;
    
    a {
        display: flex;
        gap: 10px;
        align-items: center;

        height: fit-content;
        padding: 8px 16px;

        color: var(--text-main);
        background-color: var(--semantics-blue-100);
        border: 1px solid var(--semantics-blue-200);
        border-radius: 100px;

        font-size: var(--text-body);
        line-height: 1;
    }
}


@media (width < 768px) {
    .TeamMemberCard {
        border-radius: 36px;

        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(3, auto);

        p {
            grid-column: 1/3;
        }
    }

    .TeamMemberCard__Photo {
        width: 75px;
        height: 75px;

        border-radius: 20px;

        grid-column: 1/2;
        grid-row: 1/2;
    }

    .TeamMemberCard__Contacts {
        grid-column: 1/3;
    }

    section h2{
        margin-bottom: 24px;
    }
}