.CreateMeetingPage__Form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  font-size: 3rem;
  line-height: 18px;
}

.CreateMeetingPage__Calendar {
  position: relative;

  flex: 1 1 420px;
} 

.CreateMeetingPage__Content {
  display: flex;
  flex-direction: column;
}

.CreateMeetingPage__Content__Title {
  color: var(--text-main);

  font-size: var(--text-display);
  font-weight: 800;
  line-height: 1.2;

  margin-bottom: 40px;
  margin-left: 6px
}

.CreateMeetingPage__Content__FormWrapper {
  display: flex;
  flex: 10 1 310px;
  gap: 20px;
  flex-direction: column;

  font-size: 3rem;
  margin-top: 6px;
}

.CreateMeetingPage__CreateButtonWrapper {
  width: 100%;
}

.CreateMeetingPage__CreateButton {
  border: 1px solid transparent;

  line-height: 1.25;
}

@media (width <= 1024px) {
  .CreateMeetingPage__Content__Title {
    margin-bottom: 20px;
  }
}

@media (width <= 768px) {
  .CreateMeetingPage__CreateButtonWrapper {
    position: fixed;
    bottom: 0;
    left: 0;

    padding: 10px 10px 32px;

    background-color: var(--fill-bg);
    box-shadow: 0 4px 24px rgb(0 0 0 / 12%);

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .CreateMeetingPage__Content__FormWrapper {
    top: -4px;
  }
}