.Calendar {
  --gap: 20px;
  padding: 24px;

  text-align: center;

  color: var(--termeet-color-gray-main-100);
  background-color: var(--termeet-color-bg-inputs);
  border: 1px solid;
  border-radius: var(--termeet-border-16);

  border-color: var(--termeet-color-gray-main-10);
}

.Calendar__Wrapper {
  flex: 1 1 100%;

  max-width: 650px;
}

.Calendar__Arrow, .Calendar__Arrow_Left {
  color: var(--termeet-color-gray-main-100);
}

.Calendar__Arrow_Left {
  transform: rotate(180deg);
}

.Calendar__Arrow:hover,  .Calendar__Arrow_Left:hover {
  opacity: 0.8;
}

.Calendar__Day {
  --local-bg: transparent;
  position: relative;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--termeet-color-gray-main-100);
  border-radius: var(--termeet-border-circle);

  aspect-ratio: 1 / 1;
}

.Calendar__Day::before {
  position: absolute;

  display: block;

  width: calc(100% - var(--gap));
  height: calc(100% - var(--gap));

  background-color: var(--local-bg);
  border-radius: var(--termeet-border-circle);

  transition: background-color 0.2s ease;

  content: "";
} 

.Calendar__Day:hover {
  --local-bg: var(--termeet-color-brand-light-20);
}

.Calendar__Day_Weekend {
  color: var(--termeet-color-gray-main-100);

  opacity: .6;
}

.Calendar__Day_Selected {
  color: var(--termeet-color-always-white);

  --local-bg: var(--termeet-color-brand-main-dark);
}

.Calendar__Day_Selected:hover {
  --local-bg: var(--termeet-color-brand-main-dark);
}

.Calendar__ErrorField {
  display: flex;
  gap: 4px;

  font: var(--termeet-typo-body-s);

  color: var(--termeet-color-accent-errors);

  margin-top: 8px;
}

@media (width <= 992px) {
  .Calendar {
    --gap: 10px;
  }
}

