.CalendarWrapper {
  position: relative;

  flex: 0 0 420px;
}

.Calendar {
  --cell-size: 40px;
  padding: 20px 24px;
  padding-bottom: 35px;

  text-align: center;

  color: var(--text-main);
  background-color: var(--fill-controls);
  border-radius: 16px;
}

.Calendar__Arrow, .Calendar__Arrow_Left {
  width: 16px;
  height: 16px;
  margin: 0;

  color: var(--text-main);

  transition: color 0.2s ease-in-out;
}

.Calendar__Arrow_Left {
  transform: rotate(180deg);
}

.Calendar__Arrow:focus-visible, .Calendar__Arrow_Left:focus-visible {
  transform: rotate(90deg);
}

.Calendar__Arrow:hover,  .Calendar__Arrow_Left:hover {
  color: var(--text-disabled)
}

.Calendar__Day {
  position: relative;

  width: var(--cell-size);
  height: var(--cell-size);

  color: var(--text-main);
  border-radius: 8px;
  border: 1px solid transparent;

  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;

  font-size: var(--text-body);
}

.Calendar__Day:focus-visible {
  outline: 2px solid var(--semantics-blue-800);
  outline-offset: 2px
}

.Calendar__Day:disabled {
  color: var(--text-disabled);
}

.Calendar__Day:hover {
  background-color: var(--components-hover);
}

.Calendar__Day:active {
  transform: scale(0.95);
}

.Calendar__Day:disabled:hover {
  background-color: transparent;
}

.Calendar__Day.Calendar__Day_Selected {
  color: var(--fill-bg);
  background-color: var(--semantics-blue-950);

  border-color: var(--semantics-blue-950);

  opacity: 1
}

.Calendar__Day.Calendar__Day_Selected:hover {
  background-color: var(--semantics-blue-1000);

  border-color: var(--semantics-blue-1000);
}

.Calendar__Day_Selected:focus-visible {
  border-color: var(--semantics-black-main);
}

.Calendar__ErrorField, .Calendar__SuggestField {
  position: absolute;
  bottom: 10px;
  left: 50%;

  display: flex;

  width: 100%;

  color: var(--semantics-red-main);

  transform: translateX(-50%);
  animation: fade-in 0.3s ease-in-out;

  font-size: var(--text-body);
  line-height: 1.25;
  margin-top: 8px;

  span {
    margin: 0 auto;
  }
}

.Calendar__SuggestField {
  color: var(--text-secondary);
}

@keyframes fade-in {
  0% {
    transform: translate(-50%, -10px);

    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0);

    opacity: 1;
  }
}

@media (width <= 768px) {
  .Calendar {
    --cell-size: 32px;
  }
}

@media (width <= 300px) {
  .Calendar {
    --cell-size: 24px;
  }
}

