.TimeSelect {
  position: relative;

  width: 100%;
  height: 100%;

  align-self: end;
}

.TimeSelect__OpenIcon {
  width: 16px;
  height: 16px;

  color: var(--light-text-main);

  transition:
    transform .3s ease,
    color 3s ease;
  
}

.TimeSelect__OpenIcon:hover {
  color: var(--light-components-hover);
}

.TimeSelect__OpenIcon_Open {
  transform: rotate(180deg);
}

.TimeSelect__Dropdown {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;

  /* Симметрия с местом для скроллбара */
  padding: 8px 2px 8px 8px;

  background-color: var(--light-fill-bg);
  border-radius: 16px;
  border: 1px solid var(--light-semantics-gray-active);

  animation: fade-in 0.3s ease-in-out;

  max-height: 234px;
  overflow-y: auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.TimeSelect__List {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding-right: 2px;

  list-style: none; 
}

.TimeSelect__Option {
  width: 100%;
  padding: 10px 12px;

  text-align: left;

  color: var(--light-semantics-black-main);
  background-color: var(--light-fill-bg);
  border: none;
  border-radius: 16px;

  transition: background-color 0.2s ease;

  cursor: pointer;

  font-size: 16px;
  line-height: 1.25;
}

.TimeSelect__Option:focus-visible{
  outline: 2px solid var(--light-semantics-dark-blue-active);
  outline-offset: 2px;
}

.TimeSelect__Option:hover {
  background-color: var(--light-semantics-gray-default);
}

.TimeSelect__InputWrapper {
  position: relative;
}

.TimeSelect__InputWrapper::after {
  position: absolute;
  top: 50%;
  right: 16px;
  
  width: 16px;
  height: 16px;

  transform: translateY(-50%);
  transition: transform 0.3s ease;
  
  background-image: url("./../../../../assets/icons/chevron-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  
  pointer-events: none;
}

.TimeSelect__InputWrapper_open::after {
  transform: translateY(-50%) rotate(-180deg);
}

.TimeSelect__Option_selected, .TimeSelect__Option:active {
  background-color: var(--light-semantics-gray-hover);
}

.TimeSelect__Option_selected:hover {
  background-color: var(--light-semantics-gray-hover);
}

/* Стили для скроллбара */
.TimeSelect__Dropdown::-webkit-scrollbar {
  width: 4px;
}

.TimeSelect__Dropdown::-webkit-scrollbar-track {
  background: transparent;
}