.TimeSelect {
  --dropdown-ofset: 100% + 3px;
  position: relative;

  width: 100%;
  height: fit-content;
}

.TimeSelect__Toggle {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;

  height: 54px;
  padding: 12px 16px;

  border: none;
  border-radius: 16px;

  background: none;
  cursor: pointer;
}

.TimeSelect__Toggle:focus-visible {
  outline: 2px solid var(--light-semantics-dark-blue-active);
  outline-offset: 2px;
}

.TimeSelect__OpenIcon {
  width: 16px;
  height: 16px;

  color: var(--light-text-main);

  transition:
    transform .3s ease,
    color 3s ease;
  
}

.TimeSelect__OpenIcon:hover {
  color: var(--light-components-hover);
}

.TimeSelect__OpenIcon_Open {
  transform: rotate(180deg);
}

.TimeSelect__Dropdown {
  position: absolute;
  z-index: 100;
  top: calc(var(--dropdown-ofset));
  right: 0;
  left: 0;

  /* Симметрия с местом для скроллбара */
  padding: 8px 2px 8px 8px;

  background-color: var(--light-fill-controls);
  border-radius: 16px;

  max-height: 232px;
  overflow-y: auto;
}

.TimeSelect__List {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding-right: 2px;

  list-style: none; 
}

.TimeSelect__Option {
  width: 100%;
  padding: 10px 12px;

  text-align: left;

  color: var(--light-semantics-black-main);
  border: none;
  border-radius: 16px;

  transition: background-color 0.2s ease;

  background: none;
  cursor: pointer;

  font-size: 16px;
  line-height: 1.25;
}

.TimeSelect__Option:focus-visible{
  outline: 2px solid var(--light-semantics-dark-blue-active);
  outline-offset: 2px;
}

.TimeSelect__Option:hover {
  background-color: var(--light-semantics-gray-hover);
}

.TimeSelect__Option_selected {
  background-color: var(--light-semantics-gray-active);
}

/* Стили для скроллбара */
.TimeSelect__Dropdown::-webkit-scrollbar {
  width: 4px;
}

.TimeSelect__Dropdown::-webkit-scrollbar-track {
  background: transparent;
}
