.ToogleContainer {
  display: inline-flex;

  width: fit-content;
  padding: 4px;

  background-color: var(--light-fill-controls);
  border-radius: 32px;
}

.Toogle__Option {
  padding: 10px;

  border-radius: 32px;

  transition: background-color 0.3s ease-in-out,  color 0.3s ease-in-out;

  cursor: pointer;

  font-size: var(--text-body);
}

.Toogle__Option:hover {
  background-color: var(--light-semantics-gray-hover)
}

.Toogle__Option_active {
  color: var(--light-semantics-blue-main);
  background-color: var(--light-semantics-light-blue-default);
}

.Toogle__Option_active:hover {
  background-color: var(--light-semantics-light-blue-default)
}