.ToogleContainer {
  display: inline-flex;

  width: fit-content;
  padding: 4px;

  background-color: var(--fill-controls);
  border: 1px solid var(--semantics-gray-hover);
  border-radius: 32px;
}

.Toogle__Option {
  padding: 10px;

  color: var(--text-main);
  border-radius: 32px;

  transition: background-color 0.3s ease-in-out,  color 0.3s ease-in-out;

  cursor: pointer;

  font-size: var(--text-body);

  svg {
    width: 20px;
    height: 20px;
  }
}

.Toogle__Option:hover {
  background-color: var(--components-hover)
}

.Toogle__Option_active {
  color: var(--semantics-blue-900);
  background-color: var(--semantics-blue-200);
}

.Toogle__Option_active:hover {
  background-color: var(--semantics-blue-300)
}